*,
*::before,
*::after {
   box-sizing: border-box;
}

html {
   line-height: 1.15;
   scroll-behavior: smooth;
}

body {
   margin: 0;
   font-weight: 400;
   line-height: 1.5;
   color: #212529;
   font-size: 16px;
   text-align: left;
   background-color: #ffffff;
   font-family: "Jost", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
   padding: 0;
   font-weight: 600;
}
a {
   text-decoration: none;
}
p {
   margin: 0;
   padding: 0;
   font-size: 1.2em;
   line-height: 28px;
   color: #696969;
}

body img {
   border-radius: 10px;
}

.header {
   padding: 15px 0;
   box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
}

.fixed-top {
   position: fixed;
   top: 40px;
   right: 0;
   left: 0;
   z-index: 1030;
}

.navbar {
   padding-top: unset;
   padding-bottom: unset;
}

.navbar .navbar-brand {
   font-size: 1.9rem;
   font-weight: 600;
   color: #189a46;
}

.navbar-toggler {
   background-color: #189a46;
   width: 2rem;
   height: 2rem;
   padding: 3px 4px 4px;
}

button:focus:not(:focus-visible) {
   outline: 5px auto -webkit-focus-ring-color;
}

.navbar-toggler:focus {
   box-shadow: initial;
}

.navbar-toggler-icon {
   width: 100%;
   height: 100%;
}

.navbar-toggler-icon i {
   width: 100%;
   height: 100%;
   font-size: 1.5rem;
   color: #fff;
}

.navbar-toggler-icon-expand {
   display: block;
}

.navbar-toggler-icon-close {
   display: none;
}

.theme {
   position: absolute;
   top: 1.3rem;
   right: 3.8rem;
   transform: rotate(-20deg);
}

.theme i {
   font-size: 1.3rem;
}

.theme-lg {
   display: none;
}

.navbar-nav {
   padding: 1.2rem 0;
}

.nav-item,
.nav-link,
.dropdown-item {
   display: block;
   width: 100%;
   text-align: center;
}

.navbar-nav .nav-link {
   font-size: 1.2rem;
   padding: 0.7rem 0;
   color: #000c04;
   transition: color ease 0.5s;
}

.navbar-nav .nav-link::before {
   content: "";
   width: 0%;
   height: 1px;
   background-color: #189a46;
   transition: width ease 0.5s;
}

.navbar-nav .nav-link:hover::before {
   width: 100%;
}

.navbar-nav .nav-link.active {
   color: #189a46;
}

.navbar-nav .dropdown-menu {
   padding: 1rem 0 0.3rem;
   border-radius: 10px;
   position: relative;
}

.navbar-nav .dropdown-menu::before {
   content: "";
   display: block;
   width: 14px;
   height: 14px;
   background-color: #fff;
   border: 1px solid #d9d9d9;
   border-bottom-color: transparent;
   border-right-color: transparent;
   transform: rotate(45deg);
   position: absolute;
   top: -7px;
   left: 48%;
}

.navbar-nav .nav-link:hover,
.dropdown-menu .dropdown-item:hover {
   color: #189a46;
}

.nav-link.dropdown-toggle i {
   font-size: 0.7rem;
}

.dropdown-toggle::after {
   display: none;
}

.dropdown-item:hover {
   background-color: unset;
}

a.dropdown-item {
   font-weight: 400;
   font-size: 1.2em;
   position: relative;
   color: #000c04;
   padding-top: 0;
   display: block;
   padding-bottom: 18px;
}

a.dropdown-item::before {
   content: "";
   width: 0%;
   height: 1px;
   background-color: #189a46;
   transition: width ease 0.5s;
   position: absolute;
   bottom: 10px;
}

@media (min-width: 768px) {
   .navbar .navbar-brand {
      font-size: 34px;
   }
}

@media (min-width: 992px) {
   .header {
      height: 90px;
   }

   .header .container,
   .navbar-expand-lg {
      height: 100%;
   }

   .navbar-expand-lg .navbar-collapse {
      justify-content: flex-end;
   }

   .nav-item {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
   }

   .navbar-expand-lg .navbar-nav .nav-link {
      position: relative;
      padding-left: 0;
      padding-right: 0;
   }

   .navbar-nav .nav-link::before {
      position: absolute;
      bottom: 5px;
   }

   .header .theme {
      display: none;
   }

   .header .theme-lg {
      display: block;
      margin-left: 1rem;
   }

   .header .theme-lg i {
      transform: rotate(-20deg);
      font-size: 1.3rem;
   }

   .navbar-expand-lg .navbar-nav .dropdown-menu {
      left: -75%;
      top: 120%;
      min-width: 13rem;
   }

   .dropdown-item {
      text-align: left;
   }

   a.dropdown-item:hover::before {
      width: 40%;
   }
}


/* ======================= */
.right-sidebar {
   width: 90px;
   position: fixed;
   height: 100%;
   z-index: 1500;
   right: 0px;
   top: 40px;
   color: #696969;
}

.sidebar-top {
   height: 50px;
   text-align: center;
}

.sidebar-top i {
   background: #0d1326;
   width: 50px;
   height: 50px;
   line-height: 50px;
   text-align: center;
   color: #e6ebff;
   border-radius: 50px;
   font-size: 26px;
   cursor: pointer;
   opacity: 0.5;
}

.sidebar-bottom {
   padding: 0 5px 30px 0;

   margin-bottom: 70px;
   background: #0d1326;

   border-bottom-left-radius: 9px;
}

.sidebar-bottom .sidebar-item {
   border-top: 1px solid #41414d;
   padding-top: 30px;
}

.sidebar-bottom .sidebar-item a {
   display: block;
   color: #e6ebff;
   text-decoration: none;
   line-height: 24px;
   opacity: 0.6;
   margin-bottom: 20px;
   text-align: center;
}
.sidebar-bottom .sidebar-item a:hover {
   color: #ffffff;
   opacity: 1;
}

.sidebar-bottom .sidebar-item a i {
   font-size: 14px;
}

.sidebar-bottom .sidebar-item a span {
   display: block;
}

.themes {
   margin-top: 90px;
   background: url(../img/about_1.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   position: relative;
   z-index: 0;
   display: grid;
   align-items: center;
   padding: 20px 0;
   height: 220px;
   text-align: center;
}

.themes .container {
   margin-left: auto;
   margin-right: auto;
   filter: none;
}

.themes::before {
   content: "";
   position: absolute;
   top: 0;
   min-height: 100%;
   left: 0;
   right: 0;
   z-index: -1;
   background-color: #0c0c0c;
   opacity: 0.6;
}

.themes-title {
   margin-top: 10px;
   font-size: 50px;
   font-weight: 600;
   color: #fff;
}

.themes p {
   color: #fff;
   font-size: 19px;
   font-weight: 400;
   margin-top: 8px;
}

.themes p a {
   text-decoration: none;
   color: #189a46;
   margin-right: 5px;
}

.themes p i {
   margin-right: 5px;
   font-size: 14px;
}

/* experience */
.exp-content {
   align-items: center;
}

.row {
   margin-left: -15px;
   margin-right: -15px;
}

.small-title {
   font-size: 18px;
   font-weight: 400;
   line-height: 2em;
   letter-spacing: 1px;
   color: #f53626;
}

.main-title {
   font-size: 40px;
   font-weight: 600;
   line-height: 48px;
}

.experience .exp-content h4 {
   font-size: 22px;
   line-height: 32px;
}

a.read-more {
   font-size: 17px;
   padding: 0;
   border-bottom: 2px solid #189a46;
   color: #000c04;
   transition: 0.3s ease-in-out;
   font-weight: 600;
   border-radius: 0;
   margin-top: 20px;
   display: inline-block;
   text-decoration: none;
}
a.read-more:hover {
   color: #189a46;
}

/* History */
.history {
   background: url(../img/about_2.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   position: relative;
   z-index: 1;
   display: grid;
   align-items: center;
}

.history::before {
   content: "";
   position: absolute;
   top: 0;
   min-height: 100%;
   left: 0;
   right: 0;
   z-index: -1;
   background-color: #0c0c0c;
   opacity: 0.7;
}

.history-content {
   margin-left: auto;
   max-width: 640px;
   text-align: left;
}

.history-title {
   color: #ffffff;
}

.history .history-content p {
   color: #ffffff;
   opacity: 0.7;
}

.history-grid {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-gap: 20px;
   margin-top: 40px;
}

.history-grid h5 {
   color: #fff;
   font-size: 20px;
   font-weight: 700;
   margin-bottom: 6px;
}
/* Why */
.why-icon {
   color: #189a46;
   font-size: 44px;
   text-align: center;
}
.why-right-info {
   padding-left: 0;
}
.why-right-info h6 {
   margin: 0 0 6px 0;
}
.why-right-info h6 a {
   text-align: left;
   margin-bottom: 0;
   color: #000c04;
   font-weight: 600;
   font-size: 24px;
   text-decoration: none;
}
.team .team-main {
   background: rgba(147, 107, 232, 0.05);
}
.team .team-item {
   margin-bottom: 44px;
}
.team .team-item .team-info {
   overflow: hidden;
}
.team .team-item .team-info img {
   display: block;
   transition: transform 0.4s linear;
}
.team .team-item .team-info:hover img {
   transform: scale(1.1, 1.1);
}
.team .team-item .team-info .team-name,
.team .team-item .team-info .social {
   margin-top: 16px;
}
.team .team-item .team-info a {
   color: #000c04;
}
.team .team-item .team-info a:hover {
   color: #189a46;
}
.team .team-item .team-info p {
   font-size: 16px;
   line-height: 25px;
   color: #696969;
}
.team .team-item .team-info .social a {
   display: inline-block;
   margin-right: 6px;
   width: 30px;
   height: 30px;
   border-radius: 4px;
   line-height: 30px;
   text-align: center;
   background: rgba(147, 107, 232, 0.05);
   color: #189a46;
   text-decoration: none;
}
.team .team-item .team-info .social a i {
   font-size: 12px;
   line-height: 30px;
   display: block;
}
.team .team-item .team-info .social a:hover i {
   background-color: #189a46;
   color: #ffffff;
   border-radius: 4px;
}
/* footer */
.footer-background {
   background-color: #111111;
}
ul {
   margin: 0;
   padding: 0;
}
.footer-title {
   color: #fff;
   font-size: 20px;
   line-height: 26px;
   font-weight: 600;
   margin-bottom: 25px;
}
.footer-background ul li {
   list-style: none;
   margin-bottom: 5px;
}
.footer-background a {
   color: #696969;
}
.footer .footer-background ul li p {
   font-weight: normal;
   font-size: 16px;
   color: #696969;
   line-height: 28px;
}
.footer .social-icon {
   margin-top: 5px;
   padding: 0;
   list-style: none;
   overflow: hidden;
}
.social-icon li {
   display: inline-block;
   margin-right: 15px;
   margin-bottom: 0;
}
.social-icon li a {
   margin-right: 0;
}
.social-icon li a i {
   font-size: 16px;
}
.footer-bottom {
   background-color: #111111;
   border-top: 1px solid rgba(103, 99, 99, 0.14);
}
.footer-bottom-text {
   font-weight: normal;
   font-size: 16px;
   line-height: 28px;
   margin-bottom: 0;
}
.footer-bottom-text a {
   color: #f53626;
   opacity: 0.9;
}
.footer a:hover {
   color: #ffffff;
   text-decoration: underline;
}
.footer .footer-bottom a:hover {
   color: #f53626;
}
.back-to-top {
   position: fixed;
   bottom: 60px;
   right: 15px;
   z-index: 2000;
   font-size: 18px;
   border: none;
   outline: none;
   cursor: pointer;
   color: #fff;
   width: 48px;
   height: 48px;
   background-color: #189a46;
   padding: 0;
   line-height: 36px;
   border-radius: 50px;
   transition: all 0.3s ease-out;
}
.back-to-top:hover {
   opacity: 0.8;
}
.back-to-top a:hover {
   text-decoration: none;
}
.back-to-top p {
   color: #ffffff;
   text-align: center;
   line-height: 48px;
   font-size: 17px;
}
@media screen and (max-width: 768px) {
   .why .why-right {
      margin-top: 50px;
   }
}
@media screen and (max-width: 576px) {
   .history .history-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      margin-top: 40px;
   }
   .why .why-right {
      text-align: center;
   }
   .why .why-right .row {
      margin-left: 15px;
      margin-right: 15px;
   }
}
/* SERVICE */
.service-content {
   border-bottom: 1px solid #f0f3f0;
   margin-top: 80px;
   padding-bottom: 80px;
   align-items: center;
}
.service-content-4 {
   border-bottom: none;
}
@media screen and (max-width: 768px) {
   .service-content .swap {
      order: 2;
   }
}
/* FIND  */
.find-content {
   grid-template-columns: 2fr 1fr;
   grid-gap: 40px;
}
@media screen and (max-width: 992px) {
   .find-content {
      grid-template-columns: 1fr;
      grid-gap: 20px;
   }
}
.form-1 {
   grid-template-columns: 1fr 1fr;
   grid-gap: 20px;
}
.find-content input {
   width: 100%;
   font-size: 16px;
   color: #252b33;
   padding: 0 16px;
   border-radius: 6px;
   border: 1px solid rgba(147, 107, 232, 0.05);
   background: rgba(147, 107, 232, 0.05);
   height: 55px;
}
.find-content textarea {
   resize: none;
   min-height: 140px;
   padding: 12px 15px;
   border: 1px solid rgba(147, 107, 232, 0.05);
   background: rgba(147, 107, 232, 0.05);
   border-radius: 6px;
}
.find-content .send {
   float: right;
   padding: 12px 35px;
   font-size: 18px;
   line-height: 28px;
   font-weight: 400;
   border-radius: 10px;
   display: inline-block;
   color: #fff;
   background-color: #189a46;
   border-color: #189a46;
   border: 1px solid transparent;
}
.find-content .send:hover {
   background-color: #116e32;
}
.find-content .right-item {
   display: grid;
   grid-template-columns: 20px auto;
   grid-column-gap: 20px;
}

.find-content .right-item i {
   font-size: 17px;
   margin-top: 3px;
   color: #1db954;
}
.find-content .right-item h6 {
   margin-bottom: 13px;
   font-weight: 600;
   font-size: 20px;
   line-height: 25px;
}
.find-content .right-item p,
.find-content .right-item a {
   font-weight: normal;
   font-size: 16px;
   line-height: 24px;
   color: #777777;
}
.find-content .right-item a:hover {
   text-decoration: underline;
   color: #1db954;
}
.maps iframe {
   width: 100%;
   height: 400px;
   border-radius: 10px;
   pointer-events: none;
   border: none;
   display: block;
}
