:root {
   --primary-color: #189a46;
   --secondary-color: #f53626;
   --font-color: #696969;
   --bg-color: #fff;
   --heading-color: #000c04;
   --border-radius: 10px;
   --border-color: #ddd;
   --border-light: #f0f3f0;
   --nav-color: #292922;
   --dropdown-color: #fff;
   --bg-light: rgba(147, 107, 232, 0.05);
   --iframe-filter: grayscale(0%);
   --slider-filter: brightness(50%);
   --widget-bg: #3f3a64;
}

html {
   scroll-behavior: smooth;
}

body,
html {
   margin: 0;
   padding: 0;
   font-family: "Jost", sans-serif;
   background: var(--bg-color);
   color: var(--font-color);
}

* {
   font-family: "Jost", sans-serif;
}

p,
q {
   font-size: 1.2rem;
   line-height: 28px;
   color: var(--font-color);
}

.small-title {
   font-size: 18px;
   font-weight: 400;
   line-height: 2rem;
   letter-spacing: 1px;
   color: var(--secondary-color);
}

.big-title {
   color: var(--heading-color);
   font-size: 27px;
   font-weight: 600;
}

.btn-primary {
   background-color: var(--primary-color);
}

.btn-primary:hover {
   background-color: #116e32;
}

.btn.btn-border-bottom {
   margin-top: 20px;
   padding: 0;
   font-size: 17px;
   font-weight: 600;
   color: var(--heading-color);
   border-bottom: 2px solid var(--primary-color);
   border-radius: unset;
}

.btn.btn-border-bottom:hover {
   color: var(--primary-color);
}

.btn.btn-border-bottom:focus {
   box-shadow: unset;
}

.owl-theme .owl-dots .owl-dot:hover span {
   width: 28px;
   background-color: var(--primary-color);
}

/* ======sidebar======  */
.sidebar {
   width: 90px;
   border-bottom-left-radius: 1rem;
   background-color: #0d1326;
   position: fixed;
   top: 60px;
   right: 0;
   z-index: 2;
}

.sidebar .sidebar-right .container-fluid {
   padding-top: 4rem;
}

.sidebar .sidebar-right .icon-list {
   padding-bottom: 2rem;
}
.sidebar .sidebar-right .icon-list .icon-item {
   padding: 4px 0;
}
.sidebar .sidebar-right .icon-list .icon-item + .icon-item {
   margin-top: 1.5rem;
}
.sidebar .sidebar-right .icon-list .icon-item .icon-link {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-decoration: none;
   color: #e6ebff;
   opacity: 0.6;
}

.sidebar .sidebar-right .icon-list .icon-item .icon-link:hover {
   opacity: 1;
}

.sidebar .sidebar-right .icon-list .icon-item .icon-link i {
   margin-bottom: 0.8rem;
}

/* =====circle-icon=====  */
.circle-icon {
   width: 50px;
   height: 50px;
   background-color: #0d1326;
   text-align: center;
   cursor: pointer;
   opacity: 0.5;
   position: fixed;
   right: 1.2rem;
   top: 5rem;
   z-index: 1300;
}

.circle-icon i {
   width: 100%;
   line-height: 50px;
   color: #e6ebff;
}

/* ======header======  */
.header {
   padding: 15px 0;
   box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
}

.fixed-top {
   position: fixed;
   top: 40px;
   right: 0;
   left: 0;
   z-index: 1030;
}

.navbar {
   padding-top: unset;
   padding-bottom: unset;
}

.navbar .navbar-brand {
   font-size: 1.9rem;
   font-weight: 600;
   color: var(--primary-color);
}

.navbar-toggler {
   background-color: var(--primary-color);
   width: 2rem;
   height: 2rem;
   padding: 3px 4px 4px;
}

button:focus:not(:focus-visible) {
   outline: 5px auto -webkit-focus-ring-color;
}

.navbar-toggler:focus {
   box-shadow: initial;
}

.navbar-toggler-icon {
   width: 100%;
   height: 100%;
}

.navbar-toggler-icon i {
   width: 100%;
   height: 100%;
   font-size: 1.5rem;
   color: var(--bs-white);
}

.navbar-toggler-icon-expand {
   display: block;
}

.navbar-toggler-icon-close {
   display: none;
}

.theme {
   position: absolute;
   top: 0.7rem;
   right: 3.8rem;
   transform: rotate(-20deg);
}

.theme i {
   font-size: 1.3rem;
}

.theme-lg {
   display: none;
}

.navbar-nav {
   padding: 1.2rem 0;
}

.nav-item,
.nav-link,
.dropdown-item {
   display: block;
   width: 100%;
   text-align: center;
}

.navbar-nav .nav-link {
   font-size: 1.2rem;
   padding: 0.7rem 0;
   color: var(--heading-color);
   transition: color ease 0.5s;
}

.navbar-nav .nav-link::before {
   content: "";
   width: 0%;
   height: 1px;
   background-color: var(--primary-color);
   transition: width ease 0.5s;
}

.navbar-nav .nav-link:hover::before {
   width: 100%;
}

.navbar-nav .nav-link.active {
   color: var(--primary-color);
}

.navbar-nav .dropdown-menu {
   padding: 1rem 0 0.3rem;
   border-radius: var(--border-radius);
   position: relative;
}

.navbar-nav .dropdown-menu::before {
   content: "";
   display: block;
   width: 14px;
   height: 14px;
   background-color: var(--dropdown-color);
   border: 1px solid var(--border-color);
   border-bottom-color: transparent;
   border-right-color: transparent;
   transform: rotate(45deg);
   position: absolute;
   top: -7px;
   left: 48%;
}

.navbar-nav .nav-link:hover,
.dropdown-menu .dropdown-item:hover {
   color: var(--primary-color);
}

.nav-link.dropdown-toggle i {
   font-size: 0.7rem;
}

.dropdown-toggle::after {
   display: none;
}

.dropdown-item:hover {
   background-color: unset;
}

a.dropdown-item {
   font-weight: 400;
   font-size: 1.2em;
   position: relative;
   color: var(--heading-color);
   padding-top: 0;
   display: block;
   padding-bottom: 18px;
}

a.dropdown-item::before {
   content: "";
   width: 0%;
   height: 1px;
   background-color: var(--primary-color);
   transition: width ease 0.5s;
   position: absolute;
   bottom: 10px;
}

/* ======slider======  */
.slider .owl-carousel {
   position: relative;
}

.slider .owl-carousel .item {
   width: 100%;
   min-height: 440px;
   padding: 3rem 0;
   display: flex;
   align-items: center;
   justify-content: center;
}

.slider .owl-carousel .item::before {
   content: "";
   min-height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   background-color: #0c0c0c;
   opacity: 0.6;
}

.slider .owl-carousel .item-1 {
   background-image: url(../img/banner1.jpg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   background-color: rgba(0, 0, 0, 0);
}

.slider .owl-carousel .item-2 {
   background-image: url(../img/banner2.jpg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}

.slider .owl-carousel .item-3 {
   background-image: url(../img/banner3.jpg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}

.slider .owl-carousel .item-4 {
   background-image: url(../img/banner4.jpg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}

.slider-caption {
   width: 100%;
   color: #fff;
   position: absolute;
   z-index: 105;
}

.slider-caption h5 {
   font-size: 2rem;
   font-weight: 700;
   line-height: 42px;
   padding-top: 2rem;
   margin-bottom: 0.5rem;
}

.slider-caption p {
   color: var(--bs-white);
   font-size: 1rem;
   font-weight: 400;
   opacity: 0.9;
}

.btn-white {
   padding: 12px 35px;
   font-size: 18px;
   line-height: 28px;
   font-weight: 400;
   transition: 0.3s ease-in;
   border-radius: var(--border-radius);
   background-color: #fff;
   color: var(--primary-color);
}

.border-btn {
   border: 2px solid #fff;
   color: #fff;
   padding: 10px 35px;
}

.btn-style {
   padding: 12px 35px;
   font-size: 18px;
   line-height: 28px;
   font-weight: 400;
   transition: 0.3s ease-in;
   border-radius: var(--border-radius);
}

/* hover btn */
.slider .btn:hover {
   color: var(--primary-color);
}

.slider .btn.btn-style:hover {
   background-color: var(--bg-color);
}

.slider .owl-theme .owl-dots {
   position: absolute;
   left: 50%;
   bottom: 0;
   transform: translateX(-50%);
   margin-bottom: 2rem;
}

.slider .owl-theme .owl-dots .owl-dot.active span {
   width: 28px;
   background-color: var(--primary-color);
}

/* ======about======  */
.about {
   background-color: var(--bg-color);
}
.about .container-fluid {
   padding-top: 1rem;
   padding-bottom: 1rem;
}

/* ======service======  */
.service {
   background-color: var(--bg-light);
}

.service .item {
   padding: 40px 30px;
   margin-bottom: 30px;
   background-color: var(--bg-color);
   border-radius: 1rem;
   transition: all 0.5s ease 0s;
}

.service .item:hover {
   background-color: var(--bg-light);
}

.service .item i {
   font-size: 30px;
   color: var(--primary-color);
}

.service .item .item-body .item-title {
   margin: 25px 0 15px;
   color: var(--heading-color);
   font-size: 24px;
   font-weight: 600;
}

.service .item .item-body .item-title:hover {
   cursor: pointer;
   color: var(--primary-color);
}

/* ======whyChooseUs======  */
.why-choose-us {
   background-color: var(--bg-color);
}

.why-choose-us .item-1 img {
   border-radius: 0.8rem;
   width: 100%;
}

.why-choose-us .item-2 p {
   font-size: 1rem;
   margin: 15px 0 35px;
}

.why-choose-us .item-2 ul li {
   margin: 15px 0;
   color: var(--heading-color);
   font-weight: 600;
   line-height: 26px;
}

.why-choose-us .item-2 ul li i {
   font-size: 10px;
   color: var(--primary-color);
   padding: 10px;
   margin-right: 4px;
   background-color: var(--bg-light);
}

/* ======Numbers======  */
.numbers {
   background-color: var(--primary-color);
}

.numbers .item .number {
   margin-top: 20px;
   font-size: 2.3rem;
   font-weight: 600;
}

.numbers .item p {
   margin-top: 10px;
   font-size: 1.1rem;
   color: #fff;
   opacity: 0.6;
}

/* ======Plans======  */
.plans {
   background-color: var(--bg-light);
}

.plans .plans-title {
   margin-bottom: 3rem;
}

.plans .plans-title .small-title {
   font-weight: 600;
   font-size: 25px;
}

.plans .plans-content .item {
   background-color: var(--bg-color);
   border-radius: 0.4rem;
   margin-bottom: 1rem;
   padding: 3.5rem 2.5rem;
}

.plans .plans-content .item-style {
   padding: 0 0 2.5rem;
}

.plans .plans-content .item-style .heading {
   padding: 3.5rem 2.5rem 8px;
   border-top-left-radius: 0.4rem;
   border-top-right-radius: 0.4rem;
   background-color: var(--primary-color);
}

.plans .plans-content .item-style .heading .save {
   margin-bottom: 30px;
}

.plans .plans-content .item-style .heading .save span {
   font-size: 15px;
   line-height: 20px;
   color: var(--primary-color);
   text-align: center;
   text-transform: uppercase;
   font-weight: 700;
   padding: 8px 20px;
   background: #fff;
   border-radius: var(--border-radius);
}

.plans .plans-content .item-style .btn-primary:hover {
   background-color: var(--primary-color);
}

.plans .plans-content .item .heading {
   font-size: 25px;
   margin-bottom: 20px;
}

.plans .plans-content .item .heading h4 {
   margin: 20px 0;
   font-size: 40px;
   font-weight: 600;
   color: var(--primary-color);
}

.plans .plans-content .item .heading h4 label {
   font-size: 25px;
   margin-top: 8px;
   margin-right: -0.7rem;
   vertical-align: text-top;
}

.plans .plans-content .item .heading h4 span {
   font-size: 1rem;
   color: #999;
   font-weight: 400;
   margin-left: -1rem;
}

.plans .plans-content .item .content {
   padding-top: 1rem;
}

.plans .plans-content .item .content ul li {
   padding: 6px;
   margin-bottom: 5px;
   font-size: 18px;
}

/* ======PetVideo======  */
.pet-video {
   background-color: var(--bg-color);
}
.pet-video .pet-content .video {
   position: relative;
}
.pet-video .pet-content .video img {
   border-radius: var(--border-radius);
}
.pet-video .pet-content .video a {
   width: 55px;
   height: 55px;
   position: absolute;
   top: calc(50% - 22.5px);
   left: calc(50% - 22.5px);
   padding: 1.2rem;
   background-color: #fff;
   transition: 0.3s ease-in-out;
   animation: ripple 1s linear infinite;
}

.pet-video .pet-content .video a:hover {
   transform: scale(1.1, 1.1);
}

.pet-video .pet-content .video a span {
   width: 100%;
   height: 100%;
}
.pet-video .pet-content .video a span i {
   color: var(--primary-color);
}

@keyframes ripple {
   0% {
      box-shadow: 0 0 0 0 rgba(15, 162, 66, 0.164),
         0 0 0 10px rgba(15, 162, 67, 0.25), 0 0 0 20px rgba(15, 162, 67, 0.25);
   }

   100% {
      box-shadow: 0 0 0 10px rgba(15, 162, 67, 0.25),
         0 0 0 20px rgba(15, 162, 67, 0.25), 0 0 0 40px rgba(50, 100, 245, 0);
   }
}

.back-to-top {
   position: fixed;
   bottom: 60px;
   right: 15px;
   z-index: 2000;
   font-size: 18px;
   border: none;
   outline: none;
   cursor: pointer;
   color: #fff;
   width: 48px;
   height: 48px;
   background-color: #189a46;
   padding: 0;
   line-height: 36px;
   border-radius: 50px;
   transition: all 0.3s ease-out;
}

.back-to-top:hover {
   opacity: 0.8;
}

.back-to-top a {
   text-decoration: none;
}

.back-to-top p {
   color: #ffffff;
   text-align: center;
   line-height: 48px;
   font-size: 17px;
}

/* ======Feedback======  */
.feedback {
   background-color: var(--bg-light);
}

.feedback .feedback-title .big-title {
   margin-bottom: 24px;
}

.feedback .feedback-slider .item {
   padding: 40px 30px;
   border-radius: var(--border-radius);
   background-color: var(--bg-color);
}

.feedback .feedback-slider .item blockquote {
   margin-bottom: 24px;
}

.feedback .feedback-slider .item blockquote i {
   color: var(--primary-color);
   font-size: 20px;
   vertical-align: text-top;
}

.feedback .feedback-slider .item .author .author-avt {
   width: 70px;
   height: 70px;
}

.feedback .feedback-slider .item .author .author-info {
   margin-left: 1rem;
}

.feedback .feedback-slider .item .author .author-info h6 {
   font-size: 20px;
   font-weight: 600;
   color: var(--heading-color);
}
.feedback .feedback-slider .item .author .author-info p {
   font-size: 17px;
   color: #777;
}

.feedback .owl-theme .owl-dots {
   display: none;
}

/* ======Updated======  */
.updated {
   background-color: var(--bg-color);
}

.updated form .form-control {
   line-height: 3;
   border-radius: var(--border-radius);
}

.updated form .form-control:focus {
   color: #212529;
   background-color: #fff;
   border-color: var(--primary-color);
   outline: 0;
   box-shadow: unset;
}

.updated form .btn-primary {
   width: 100%;
   background-color: var(--primary-color);
}

.updated form .btn-primary:hover {
   background-color: #116e32;
}

/* ======Feedback======  */
.footer {
   background-color: #111;
}

.footer .row h4 {
   color: var(--bs-white);
   font-size: 20px;
   line-height: 26px;
   font-weight: 600;
   margin-bottom: 25px;
}

.footer .row p,
.footer .row a {
   font-size: 16px;
   color: var(--para-color);
   line-height: 28px;
   text-decoration: none;
}

.footer .row a {
   margin-right: 5px;
}

.footer .row a:hover {
   text-decoration: underline;
   color: #fff;
}

.footer .row .contact-info .details p span {
   font-weight: 700;
   font-family: -apple-system, sans-serif;
}

.footer .row .contact-info .social-link a + a {
   margin-left: 4px;
}

.footer .company .details a,
.footer .link .details a,
.footer .support .details a {
   display: block;
   margin-bottom: 5px;
}

.footer .copy-right hr {
   color: rgba(103, 99, 99, 0.6);
   margin-top: 0;
}

.footer .copy-right p {
   font-size: 1rem;
}

.footer .copy-right p a {
   color: var(--secondary-color);
   opacity: 0.9;
   text-decoration: none;
}

.footer .copy-right p a:hover {
   text-decoration: underline;
   opacity: 0.8;
}

/* Responsive */
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
   .navbar .navbar-brand {
      font-size: 34px;
   }

   .theme {
      top: 0.9rem;
   }

   .slider .owl-carousel .item {
      min-height: 580px;
   }

   .slider-caption h5 {
      font-size: 50px;
      line-height: 55px;
   }

   .big-title {
      font-size: 35px;
      line-height: 40px;
   }

   .numbers .item .number {
      margin-top: 30px;
      font-size: 2.5rem;
   }

   .numbers .item p {
      font-size: 1.2rem;
   }

   .plans .plans-content .item {
      margin-bottom: 2rem;
   }

   .feedback .owl-theme .owl-dots {
      display: block;
   }

   .feedback .owl-theme .owl-nav.disabled + .owl-dots {
      margin-top: 50px;
      margin-bottom: 30px;
   }

   .feedback .owl-theme .owl-dots .owl-dot.active span {
      width: 28px;
      background-color: var(--primary-color);
   }

   .updated .subcribe {
      max-width: 83.333333%;
   }

   .updated form input,
   .updated form button {
      height: 100%;
      padding-top: 7px;
      padding-bottom: 7px;
   }
   .footer .row a {
      margin-right: 15px;
   }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
   .header {
      height: 90px;
   }

   .header .container,
   .navbar-expand-lg {
      height: 100%;
   }

   .navbar-expand-lg .navbar-collapse {
      justify-content: flex-end;
   }

   .nav-item {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
   }

   .navbar-expand-lg .navbar-nav .nav-link {
      position: relative;
      padding-left: 0;
      padding-right: 0;
   }

   .navbar-nav .nav-link::before {
      position: absolute;
      bottom: 5px;
   }

   .header .theme {
      display: none;
   }

   .header .theme-lg {
      display: block;
      margin-left: 1rem;
   }

   .header .theme-lg i {
      transform: rotate(-20deg);
      font-size: 1.3rem;
   }

   .navbar-expand-lg .navbar-nav .dropdown-menu {
      left: -75%;
      top: 120%;
      min-width: 13rem;
   }

   .dropdown-item {
      text-align: left;
   }

   a.dropdown-item:hover::before {
      width: 40%;
   }

   .slider .owl-carousel .item {
      min-height: calc(100vh - 40px);
   }

   .slider .item .banner-info-bg {
      max-width: 700px;
   }

   .plans .plans-content .item {
      margin-bottom: 0;
      box-shadow: 0 10px 30px 0 rgb(17 17 17 / 9%);
   }

   .plans .plans-content .item-style {
      padding-bottom: 3.5rem;
   }

   .plans .item-style .item-style-text {
      max-width: 100px;
      line-height: 30px;
   }

   .plans .item .buy-btn {
      margin-top: 2rem;
   }

   .updated .subcribe {
      max-width: 650px;
   }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
   p {
      font-size: 1.2rem;
   }

   .slider-caption p {
      font-size: 1.2rem;
      line-height: 30px;
   }

   .slider-caption h5 {
      font-size: 66px;
      line-height: 76px;
   }

   .about .wrap {
      max-width: 700px;
   }

   .big-title {
      font-size: 40px;
   }

   .numbers .item .number {
      font-size: 50px;
   }

   .plans .item-style .item-style-text {
      max-width: initial;
   }

   .pet-video .wrap {
      max-width: 950px;
      margin: 0 auto;
   }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
